{% extends ("AvrNetIoBundle::base.html.twig") %}

{% block title %}<h1>Digitale Ausgänge</h1>{% endblock title %}

{% block content %}
    <style type="text/css">
        .ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
            display: block !important;
            padding: 0.9em 75px 0.9em 15px !important;
        }

        div.ui-slider-switch {
            position: absolute !important;
            right: 0 !important;
            top: 0.5em;
        }

    </style>
    <ul data-role="listview" data-inset="true">
        <li data-role="fieldcontain">
            <label for="output-1">Flurlicht</label>
            <select name="output-1" id="output-1" data-role="slider" data-mini="false">
                <option value="0">Aus</option>
                <option value="1" {% if avr.output(1) == 1 %}selected="selected"{% endif %}>An</option>
            </select>
        </li>
        {% for i in 2..8 %}
            <li data-role="fieldcontain">
                <label for="output-{{ i }}">Digitaler Ausgang {{ i }}</label>
                <select name="output-{{ i }}" id="output-{{ i }}" data-role="slider" data-mini="false">
                    <option value="0">Aus</option>
                    <option value="1" {% if avr.output(i) == 1 %}selected="selected"{% endif %}>An</option>
                </select>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
