parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    location_latitude: 52.3976
    location_longitude: 13.2523
    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
    ron.read_pressure: '/usr/bin/read_pressure.sh'
    ron.read_temperature: '/usr/bin/read_temperature.sh'
    ron.read_motion: '/usr/bin/motion'
    ron.command_at: 'sudo /usr/bin/at'
    raspi_timers_times:
     -
       name: Warmwasser aus
       group_code: '10001'
       trigger_code: 3
       times: [1,10]
       timeUnit: 'minutes'
       trigger_on: true
       trigger_off: true
    raspi_switch_command: sudo /usr/bin/send
    raspi_switch_code: 10001
    raspi_switch_switches:
      - {name: Poolpumpe, trigger_code: 1, group_code: '10001'}