{% extends ("RonRaspberryPiBundle::base.html.twig") %}
{% block title %}<h1>Login</h1>{% endblock %}
{% block content %}
    {% if error %}
        <div class="error">{{ error.message }}</div>
    {% endif %}
    {% spaceless %}
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <div class="well">
                <form action="{{ path("_login_check") }}" class="form-horizontal" method="post" id="login">
                    <fieldset>
                        <div class="form-group">
                            <label for="username" class="col-xs-6 col-md-4 control-label">{% trans %}
                                Username{% endtrans %}</label>

                            <div class="col-xs-6 col-md-8">
                                <input type="text" id="username" name="_username" value="{{ last_username }}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-xs-6 col-md-4 control-label">{% trans %}
                                Password{% endtrans %}</label>

                            <div class="col-xs-6 col-md-8">
                                <input type="password" id="password" name="_password"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-8 col-xs-offset-6">
                                <button type="submit" class="btn btn-primary">LOGIN</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endspaceless %}
{% endblock %}
