{% extends 'RonRaspberryPiBundle::base.html.twig' %}
{% block title %}<h1>Verbrauch eintragen</h1>{% endblock title %}
{% block content %}

    <form action="{{ path('consumption_create') }}" method="post" {{ form_enctype(form) }}>
        <fieldset>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Speichern</button>
        </p>
        </fieldset>
    </form>

{% endblock %}
