{% extends ("RonRaspberryPiBundle::base.html.twig") %}

{% block javascript %}
    <script type="text/javascript">
        $('div.ui-page').live("swipeleft", function () {
            var nextpage = $(this).next('div[data-role="page"]');
            // swipe using id of next page if exists
            if (nextpage.length > 0) {
                $.mobile.changePage(nextpage, 'slide');
            }
        });
        $('div.ui-page').live("swiperight", function () {
            var prevpage = $(this).prev('div[data-role="page"]');
            // swipe using id of next page if exists
            if (prevpage.length > 0) {
                $.mobile.changePage(prevpage, 'slide', true);
            }
        });
    </script>
{% endblock javascript %}
{% block title %}<h1>{% trans %}Temperatur{% endtrans %} {{ period }}</h1>{% endblock title %}
{% block content %}

    {#% for period, period_title in periods %#}
            <div class="container">
                    <img class="graphkey,-temperature" src="{{ path('avr_output_temp_image', {'period': period}) }}"
                         alt="{{ period_title|default('Temperatur ') }}"/>
            </div>
    {#% endfor %#}
{% endblock content %}

{% block style %}
    <style type="text/css">
        .ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
            display: block !important;
            padding: 0.9em 75px 0.9em 15px !important;
        }

        div.ui-slider-switch {
            position: absolute !important;
            right: 0 !important;
            top: 0.5em;
        }

        .graph-temperature {
            width: 100%;
            height: 100%;
        }
    </style>
{% endblock style %}
