<!DOCTYPE html>
<html>
<head>
    <title>Avr-Net-Io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css"/>
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("select").on("change", function (event, ui) {
                var inputName = $(this).attr('name').substr(7);
                $.ajax({
                    url:"/setport/" + inputName + '/' + $(this).val(),
                    context:''
                }).done(function () {

                        });
            });
        });
    </script>

</head>
<body>

<div data-role="page">
    {% block header %}
        <div data-role="header">
            <h1>Werte des Avrs</h1>
            {% if app.user %}
                <a href="{{ path('_logout') }}" data-role="button" data-inline="true" date-mini="true">Logout</a>
            {% else %}
                <a href="{{ path('_login') }}" data-role="button" data-inline="true" data-mini="true">Login</a>
            {% endif %}
        </div>
    {% endblock header %}
    {% block content %}
        <div data-role="content">
            <p>Hello world</p>
        </div>
    {% endblock content %}
</div>

</body>
</html>
