{% extends 'RonRaspberryPiBundle::base.html.twig' %}


{% block footer %}
    {% if app.user %}
        <div data-role="footer" data-position="fixed">
            <div data-role="navbar">
                <ul>
                    <li>
                        <a href="{{ path('rpi_input') }}"
                                {% if 'avr_net_io_homepage' == app.request.attributes.get('_route') %}
                            class="ui-btn-active ui-state-persist"
                                {% endif %}>RaspberryPi</a>
                    </li>
                    <li>
                        <a href="{{ path('consumption') }}"
                                {% if 'consumption' == app.request.attributes.get('_route') %}
                            class="ui-btn-active ui-state-persist"
                                {% endif %}>Übersicht</a>
                    </li>
                    <li>
                        <a href="{{ path('consumption_new') }}"
                                {% if 'consumption_new' == app.request.attributes.get('_route') %}
                            class="ui-btn-active ui-state-persist"
                                {% endif %}>Neu</a>
                    </li>
                </ul>
            </div>
            <!-- /navbar -->
        </div>
    {% endif %}
{% endblock footer %}
